.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "area1 area1 area3"
    "area1 area1 area2"
    "area4 area5 area6"
    ;
    gap: 10px;
    margin: 20px auto;
    max-width: 1320px;
    justify-content: center;
    align-content: center;
}

.grilla img{
    transition: transform 0.3s ease;
}

.grilla img:hover{
    transform: scale(1.05);
}


.contenedor-1{
    grid-area: area1;
}

.contenedor-2{
    grid-area: area2;
}

.contenedor-3{
    grid-area: area3;
}

.contenedor-4{
    grid-area: area4;
}

.contenedor-5{
    grid-area: area5;
}
.contenedor-6{
    grid-area: area6;
}