.contacto{
    @extend %flex-centrado;
    justify-content: flex-start;
}

.contacto form{
    width: 100%;
    max-width: 700px;
}

.contacto input,
.contacto textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}