@use 'variables' as *;
@use 'sass:map';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




/* Movimiento del Logo del NavBar */
.navbar-brand{
    transition: transform 0.1s ease;
    &:hover{
        transform: rotate(-5deg) scale(1);
    }
    &:active{
        transform: rotate(-5deg) scale(1.2);
    }
}

/* Pequeño efecto en los logos de las redes sociales */
.redes{
    display: flex;
    gap: $gap-redes;
    a{
        &:hover{
        transform: scale(1.2);
    }
    }
}

/* Ubicación y tamaño de la imagen en sobre-nosotros.html */
.imagen-princ{
    @extend %flex-centrado;
}

.imagen-princ img{
    width: 500px;
    max-width: 100%;
}

/* Body Flex y min-height para que Footer esté abajo */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $tipografia;
    color: $color;
}

/* Tamaño y ubicación del video de index.html */
.video {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    margin: 20px auto;
}

.video iframe{
    width: 100%;
    height: 100%;
    border: none;
}

%flex-centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}