@media (max-width: 991px){    
    .grilla{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: 
        "area6 area6 area3"
        "area6 area6 area2"
        "area4 area4 area5"
        "area4 area4 area1"
    ;
    }
    main{
        height: 100%;
        padding: 30px 0;
    }
}

@media  (max-width: 576px){
    .grilla{
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "area1"
        "area2"
        "area3"
        "area4"
        "area5"
        "area6"
    ;
    }
    
    .dropdown-menu{
        background-color: rgb(64, 64, 64);
    }

    .dropdown-item{
        color: white;
        &:hover{
            background-color: rgb(85, 85, 85);
            color: rgb(232, 232, 232)
        }
    }
}