$tipografia: 'Montserrat', sans-serif;
$color: white;
$color-fondo: black;
$color-sombra: rgba(255, 255, 255, 0.38);
$color-dropdown: rgb(64, 64, 64);
$color-dropdown-hover: rgb(85, 85, 85);
$tamanio-base: 16px;
$gap-redes: 15px;
